.colorFondo{
    background-color: #fff12d;
    border-radius: 4px;
}


.Mayusculas{
    text-transform: uppercase;
}

.btnDonar{
    background-color: #fff02D; 
    font-size: 35px;
}

.tableCont{
    background-color: #9192a66b;
    padding: 40px;
}

.tituloDon{

}
