*, ::after, ::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1f2937;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(23, 31, 56, 0);
    padding-top: 3rem;
}

main{
    overflow: hidden;
    display: block;
    margin: 0;
}




.container{
    display: auto;
    flex-direction: column;
}
.section {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem
}
div{
    display: block;
}







.containerGeneral{
    /*background-color: #f0f2f5;*/
    background-color: #fff;
}


.menuSection{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.me-auto{
    margin-right: auto;
}
.imgbrand{
    height: 45px;
    width: 45px;
}

.encabezado,
.descripcion{
    margin: 24px 0;
}
.encabezado{
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
}
.imgn{
    align-items: center;
}




/*----------------------------acerca de section ----------------------------*/
.acercadeSection{
    padding: 40px;
}
 .contenido{
    background-color: #9192a66b;
    padding: 40px;
}
.acercadeSection h3{
    font-weight: 700;
    text-transform: uppercase;
}
.acercadeSection h2 {
    font-weight: 700;
  }
  
  .acercadeSection p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  
  .acercadeSection .btn-acercade {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #029bde;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
    text-decoration: none;
  }





/* --------------------carousel section---------------------------- */
.carousel{
    position: relative;
}
.carouselSection{
    background-color: #029bde
    ;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}
.carousel-item img{
    aspect-ratio: 16 / 9;
}


.encabezado2{
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    padding: 2rem 0;
    color: #fff;
}

/*.ricSection{
    padding-top: 2rem;
    padding-bottom: 2rem;
}*/






/*------------------------linea del tiempo, codigo externo-------------------*/
.timeline-one {
    width: 100%
}

.timeline-one .timeline-item {
    position: relative;
    width: 50%;
    margin-left: 50%;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: left
}

@media (max-width:575.98px) {
    .timeline-one .timeline-item {
        width: 100%;
        margin-left: 0
    }
}

.timeline-one .timeline-item img {
    margin-bottom: 1.25rem
}

.timeline-one .timeline-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: .425rem;
    margin-left: -.5rem;
    border: .0625rem solid #e5e7eb;
    border-radius: 50%
}

.timeline-one .timeline-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -.1875rem;
    width: .0625rem;
    margin-top: 1.875rem;
    margin-left: -.0625rem;
    background-color: #e5e7eb
}

.timeline-one .timeline-item:nth-child(2n+1) {
    margin-left: 0;
    padding-right: 1.5rem;
    padding-left: 0;
    text-align: right
}

@media (max-width:575.98px) {
    .timeline-one .timeline-item:nth-child(2n+1) {
        padding-right: 0;
        padding-left: 1.5rem;
        text-align: left
    }
}

.timeline-one .timeline-item:nth-child(2n+1):after,
.timeline-one .timeline-item:nth-child(2n+1):before {
    right: 0;
    left: auto
}

@media (max-width:575.98px) {

    .timeline-one .timeline-item:nth-child(2n+1):after,
    .timeline-one .timeline-item:nth-child(2n+1):before {
        right: auto;
        left: 0
    }
}

.timeline-one .timeline-item:nth-child(2n+1):before {
    margin-right: -.5rem
}

.timeline-one .timeline-item:nth-child(2n+1):after {
    margin-right: -.0625rem
}

.timeline-one.dark .timeline-item:before {
    border: .0625rem solid #9ca3af
}

.timeline-one.dark .timeline-item:after {
    background-color: #9ca3af
}




/*----------------------------------------------------------------------------*/






/*-------------------seccion de ayuda ---------------------------------*/
.ayudaSection{
    background-color: #00903b;
}
.encabezadosBlanco{
    text-align: center;
    color: #fff;
    margin: 10px 0 0 0;
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
}
.pBlanco{
    text-align: center;
    color: #fff;
}
.pies{
    padding: 1.5rem 0rem;
}

.icono {
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
    /*color: #00903b;
    background-color:#00903c1e;*/
}
.columnaAyuda{
    color: #000;
}


/*------------------------------------------------------*/





/*-------------------------redes section --------------------*/
.redesSection{
    background-color: #df070a;
    height: 100%;
}
.redesSection h1{
    color: #fff;
}


.myvSection{
    padding: 40px;
}
.contenido2{
    background-color: #9192a66b;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.contenido3{
    background-color: #f58e42;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    /*0justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 100px;
}

.contenido3 ul {
    list-style-type: none;
}
.contenedorIcons{
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center
}
.letras{
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.contenedorIcons2{
    padding: 10px;
    color: #000;
    display: flex;
    justify-content: center; 
    align-items: center
}
.contenedorIcons i{
    padding: 0 1rem ;
}
.listaValores ul{
    list-style: none;
}




/* Footer iframe*/
.footerContactanos{
    width:100% !important;
    height:467px !important;
}
@media screen and (max-width: 991px) {
	.footerContactanos{
        width:100% !important;
        height:612px !important;
    }
}
.ifContSection{
    background-color: #9ca3af;
}











/*button 1 externo*/
    .buttonDonarMenu {
        padding: 12px 24px;
        border-top: solid 6px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-radius: 2px;
        border-color: #016d2e;
        background-color: #00903b;
        color: #fff;
        font-size: 21px;
        text-decoration: none;
        vertical-align: middle;
    }
    .buttonDonarMenu:hover{
        background-color: #fff;
        color: #00903b;
    }



    .buttonDonarEsp {
        padding: 12px 24px;
        border-top: solid 6px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-radius: 2px;
        border-color: #b1a720;
        background-color: #fff02d;
        color: #000;
        font-size: 21px;
        text-decoration: none;
        vertical-align: middle;
    }
    .buttonDonarEsp:hover{
    border-color: #fff02d;
    background: #fff;
    color: #000;
    }


    .buttonDonarNin {
        padding: 12px 24px;
        border-radius: 2px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-top: solid 6px;
        border-color: #006386;
        background-color: #00abeb;
        color: #fff;
        font-size: 21px;
        text-decoration: none;
        vertical-align: middle;
    }
    .buttonDonarNin:hover{
    border-color: #00abeb;
    background: #fff;
    color: #00abeb;
    }

    .buttonApa {
        padding: 12px 24px;
        border-radius: 2px;
        border-top: solid 6px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-color: #6b6b6b70;
        background-color: #9192a66b;
        color: #000;
        font-size: 21px;
        text-decoration: none;
        vertical-align: middle;
    }
    .buttonApa:hover{
    border-color: #6b6b6b70;
    background: #fff;
    color: #000;
    }


    .buttonContacto{
        padding: 12px 24px;
        border: solid 3px;
        border-radius: 7px;
        border-color:  #fff;
        background-color: #1a1a1a;
        color: #fff;
        font-size: 21px;
        text-decoration: none;
        text-shadow: rgba(255, 255, 255) 0 1px 0;
        vertical-align: middle;
        }
    .buttonContacto:hover{
        border-color: #878a9c;
        background: #fff;
        color: #000;
        }